* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* margin: 20px auto 0px auto; */
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(245, 245, 245);
}

/* Sharing styles */

/* ? Sharing Fonts Starts*/
.fira-sans-thin {
  font-family: "Fira Sans", serif;
  font-weight: 100;
  font-style: normal;
}

.fira-sans-extralight {
  font-family: "Fira Sans", serif;
  font-weight: 200;
  font-style: normal;
}

.fira-sans-light {
  font-family: "Fira Sans", serif;
  font-weight: 300;
  font-style: normal;
}

.fira-sans-regular {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
}

.fira-sans-medium {
  font-family: "Fira Sans", serif;
  font-weight: 500;
  font-style: normal;
}

.fira-sans-semibold {
  font-family: "Fira Sans", serif;
  font-weight: 600;
  font-style: normal;
}

.fira-sans-bold {
  font-family: "Fira Sans", serif;
  font-weight: 700;
  font-style: normal;
}

.fira-sans-extrabold {
  font-family: "Fira Sans", serif;
  font-weight: 800;
  font-style: normal;
}

.fira-sans-black {
  font-family: "Fira Sans", serif;
  font-weight: 900;
  font-style: normal;
}

/* ? Sharing Fonts Ends*/

/* ? Sharing styles start */
.common-width {
  width: 1280px;
  border: 1px solid;
}

/* ? Sharing styles ends */

.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
