* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Sharing styles */

/* ? Sharing Fonts Starts*/
.fira-sans-thin {
  font-family: "Fira Sans", serif;
  font-weight: 100;
  font-style: normal;
}

.fira-sans-extralight {
  font-family: "Fira Sans", serif;
  font-weight: 200;
  font-style: normal;
}

.fira-sans-light {
  font-family: "Fira Sans", serif;
  font-weight: 300;
  font-style: normal;
}

.fira-sans-regular {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
}

.fira-sans-medium {
  font-family: "Fira Sans", serif;
  font-weight: 500;
  font-style: normal;
}

.fira-sans-semibold {
  font-family: "Fira Sans", serif;
  font-weight: 600;
  font-style: normal;
}

.fira-sans-bold {
  font-family: "Fira Sans", serif;
  font-weight: 700;
  font-style: normal;
}

.fira-sans-extrabold {
  font-family: "Fira Sans", serif;
  font-weight: 800;
  font-style: normal;
}

.fira-sans-black {
  font-family: "Fira Sans", serif;
  font-weight: 900;
  font-style: normal;
}

/* ? Sharing Fonts Ends*/

/* ? Sharing styles start */
.common-width {
  width: 1280px;
}

.bg-green {
  background-color: #c6e4d6;
}

.subtitle {
  color: hsla(0, 0%, 5%, 0.501);
  line-height: 24px;
}

.main-title {
  color: #0e0e0e;
  font-size: 40px;
}

/* ? Sharing styles ends */

/* ? style banner section start */
.banner-section {
  border-radius: 24px;
  margin-top: 20px;
}

.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
  height: 500px;
}

#banner-text-button {
  width: 600px;
}

.banner-title {
  font-size: 56px;
}

.banner-button {
  width: 270px;
  height: 56px;
  border-radius: 8px;
  background-color: #006a50;
  font-size: 18px;
  border: none;
  color: #ffffff;
  margin-top: 15px;
}

#banner-image {
  width: 470px;
  height: 400px;
}

#banner-image img {
  width: 100%;
  height: 100%;
}
/* ? styles banner section end */

/* ? styling vision future section start */

.vision-future-section {
  margin-top: 80px;
}

.vision-future-section .subtitle {
  margin-top: 24px;
}

.card-container {
  margin-top: 30px;
  display: flex;
  gap: 1rem;
  width: 100%;
}

.card {
  width: calc(100% / 3);
}

.card-title {
  color: hsla(0, 0%, 5%, 0.803);
  font-size: 20px;
  margin-top: 24px;
}

.card-btn {
  width: 122px;
  height: 41px;
  border-radius: 8px;
  border: none;
  color: #ffffff;
}

.card-container .btn-1 {
  background-color: #5490f5;
  margin-top: 20px;
}

.card-container .btn-2 {
  background-color: #09a15c;
  margin-top: 42px;
}

.card-container .btn-3 {
  background-color: #ffc239;
  margin-top: 42px;
}

.card-1 {
  background-color: rgba(84, 143, 245, 0.203);
  border-radius: 16px;
  padding: 50px 25px;
}

.card-2 {
  background-color: #c6e4d6;
  border-radius: 16px;
  padding: 50px 25px;
}

.card-3 {
  background-color: #f7ebcf;
  border-radius: 16px;
  padding: 50px 25px;
}

.quotation-name {
  color: hsla(0, 0%, 5%, 0.803);
  font-size: 20px;
  margin-top: 20px;
}

.quotes {
  margin-top: 30px;
}

.quotation {
  background-image: url("../assets/quote-bg.png");
  background-position: left 25px top 20px;
  background-repeat: no-repeat;
  border: 0.5px solid hsla(0, 0%, 5%, 0.162);
  border-radius: 16px;
  background-color: #ffffff;
  padding: 40px 30px;
}

.quotation-name {
  /* padding: 0px 30px; */
}

.quotation-designation {
  /* padding: 0px 30px; */
}

/* ? styling vision future section end */

/* ? styling recent news section start */
.recent-news-section {
  margin-top: 45px;
}

.recent-news-title {
  font-size: 30px;
}

.recent-news-section .paragraph,
.donate-container .paragraph {
  margin-top: 20px;
}

.recent-news-card-container {
  display: flex;
  background-color: #ffffff;
  padding: 48px;
  gap: 2rem;
  border-radius: 24px;
  margin-top: 30px;
}

.recent-news-card-image {
  /* width: 600px;
  height: 306px; */
}

.recent-news-card-image img {
  /* width: 100%;
  height: 100%; */
  border-radius: 24px;
}

.recent-news-text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1.4rem;
  align-content: space-between;
}

.recent-news-card-btn,
.donate-container input[type="button"] {
  width: 122px;
  height: 41px;
  border-radius: 8px;
  border: none;
  color: #ffffff;
  background-color: #006a50;
}
/* ? styling recent news section end */

/* ? styling donate  section start */
.donate-section {
  margin-top: 80px;
}

.donate-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.donate-container .paragraph {
  text-align: center;
}

.donate-card-container {
  display: flex;
  gap: 24px;
}

.donate-card {
  border: 1px solid;
  /* padding: 50px 95px; */
  width: 252px;
  height: 120px;
  background-color: #ffffff;
  border-radius: 16px;
  border: 0.5px solid hsla(0, 0%, 5%, 0.162);
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.donate-card-container {
  margin-top: 30px;
}

.donate-container input[type="text"] {
  margin-top: 30px;
  width: 95%;
  height: 60px;
  text-align: center;
  border: none;
}

.donate-container input[type="text"]::placeholder {
  color: rgba(14, 14, 14, 0.328);
}

/* ? styling donate section ends */

/* ? styling newsletter section start */

.newsletter-section {
  margin-top: 80px;
  height: 300px;
  border-radius: 24px;
}

.newsletter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}

.newsletter-container .paragraph {
  margin-top: 16px;
}

.subscribe-container {
  display: flex;
  margin-top: 16px;
}
.subscribe-container input[type="button"] {
  width: 122px;
  height: 41px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border: none;
  color: #ffffff;
  background-color: #006a50;
}

.subscribe-container input[type="email"] {
  width: 600px;
  border: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding-left: 30px;
}

.subscribe-container input[type="email"]::placeholder {
  color: rgba(14, 14, 14, 0.328);
}
/* ? styling newsletter section ends */

/* ?styling footer section start */
.footer-section {
  width: 100%;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  margin-top: 50px;
  gap: 32px;
}

.footer-section h1 {
  margin-top: 50px;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 30px;
}

hr {
  border-top: 1px solid hsla(0, 0%, 5%, 0.108);
  text-align: center;
  width: 1000px;
}

/* ?styling footer section end */

/* Hover button effect */

button:hover,
input[type="button"]:hover,
.card-btn:hover,
.donate-card-container h1:hover {
  background-color: #9986a786;
}

/* todo: 1. footer setion 2.navigation section(optional) 3.Pillars of "Bangladesh 2.0" (optional) 4. Your Opinion Matters table(optional)*/
